---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import NotFoundContent from '../components/NotFoundContent.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={`404 — ${SITE_TITLE}`} description="Stranica nije pronađena" />
	</head>
	<body>
		<Header />
		<main>
			<NotFoundContent />
		</main>
		<Footer />
	</body>
</html>
